<h1>Bucketlist Form</h1>

    <%= form_for [@profile, @bucketlist] do |f| %>
      <%= f.label :location %>
      <%= f.text_field :location %>
      <br />
      <%= f.label :title %>
      <%= f.text_field :title %> 
      <br />
      <%= f.label :completed %>
      <%= f.select(:completed, [["completed",true],["not completed",false]]) %>

      <br />
      <%= f.submit %>
    <% end %>
